:root{
    --clr-navy:#344952;
    --primary-clr:#6563ff;
    --secondary-clr:#c4c3fc;
    --light-line:#e4e2ed;
    --cell-width:22px;
    --light-text:#686673;
    --light-dot:#adaac0;
    --wall-clr:#0c3547;
    --path-clr:#fffe6a;
    --visited-clr:#40cee3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    width: 100vw;
    height: 100vh;
}

.template{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
}

/* .template>*{
    border: 1px solid black;
} */

nav{
    padding: 4px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-navy);
}

.logo{
    padding:0 16px ;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

/* .btn{
    background-color: var(--primary-clr);
    color: white;
    padding:8px 16px;
    border-radius: 5px;
    cursor: pointer;
} */

.nav-menu{
    display: flex;
    align-items: center;
}

.nav-menu a {
    color: white;
}

/* .nav-menu>li>a.active{
    background-color: var(--primary-clr);
} */

.nav-menu > li.active > a {
  background-color: var(--primary-clr);
}

.nav-menu>li.active>a:hover{
    color: white;
}

.nav-menu>li>a:hover{
    color: var(--secondary-clr);
}

.nav-menu>li>a{
    color: white;
    padding: 8px 16px;
    display: block;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-menu>li>a.active:hover {
    color: white;
}

.drop-box{
    position: relative;
}

.drop-box.active .drop-menu{
    display: block;
}

.drop-box .drop-menu{
    position: absolute;
    right: 0;
    z-index: 100;
    top: calc(100% + 20px);
    background-color: var(--clr-navy);
    min-width: 120px;
    padding: 4px;
    border-radius: 8px;
    display: none;
}

.drop-menu>li>a:hover,
.drop-menu>li.active>a{
    background-color: var(--primary-clr);
}

.drop-menu>li>a{
    color: white;
    padding: 8px;
    display: block;
    border-radius: 4px;
}

.guide-bar{
    text-transform: capitalize;
    font-size: 14px;
    display: flex;
    gap: 16px;
    padding: 8px;
}

.guide-bar>li{
    display: flex;
    align-items: center;
    gap: 4px;
}

#board{
    overflow: hidden;
}

.row{
    display: flex;
}

.col{
    aspect-ratio: 1;
    width: 100%;
    min-width: var(--cell-width);
    border: 1px solid var(--light-line);
}

@media screen and (max-width: 1024px){
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap:4px;
    }
    .nav-menu {
        grid-column: 1/-1;
        width: max-content;
    }
    .btn {
        justify-self: start;
    }
}

@media screen and (max-width: 662px){
    #visualize {
        justify-self: end;
        grid-column: 3/-1;
        width: 100%;
        padding: 12px 0;
        margin-top: 8px;
        margin-bottom: 12px;
        min-width: 180px;
    }
    .card{
        margin: 0;
    }
    .card .bottom .btn{
        padding: 12px 24px;
        font-size: 14px;
    }
    #logo {
        grid-column: 1/2;
        font-size: 16px;
        padding: 10px 0;
    }
    .nav-menu {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
    }
    .nav-menu li a{
        width: 100%;
        font-size: 12px;
        padding: 8px 4px;
    }
    /* .guide li .symbol {
        width: 12px;
    }
    .guide li .text{
        font-size: 12px;
    }
    .guide{
        width: 100%;
        position: absolute;
        background-color: white;
        bottom: 0px;
        margin-bottom: 0;
        z-index: 1;
        transition: .3s cubic-bezier(0.72, -0.01, 0.31, 0.98);
        box-shadow: none;
    }
    .guide.active{
        transform: translateY(100%);
        box-shadow: 0px 8px 9px #49488549;
    }
    
    header .guide-toggle{
        display: block;
        box-shadow: 0px 0px;
        position: absolute;
        width: 30px;
        aspect-ratio: 1;
        background-color: white;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    } */
    
}
